.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.book-detail {
  padding: 40px;
  border: 1px solid black;
  border-radius: 3px;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  width: 800 px;
  margin-bottom: 20px;
  margin-top: 20px;
}
